.header_name {
    text-align: left;
    color: white;
}
.header_block {
    background: #1e2128;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
}
.header_date {
    color: white;
}