:root {
  --grid-areas: "header header search" "mainList map mainTable"
    "mainList map graph" "footer footer footer";
}

.app {
  display: grid;
  grid-template-areas: var(--grid-areas);
  grid-template-rows: 2fr 20fr 8fr 2fr;
  grid-template-columns: 2fr 6fr 3fr;
  height: 100%;
}

.header {
  grid-area: header;
}

.search {
  grid-area: search;
}

.map {
  grid-area: map;
  min-height: 500px;
}

.mainTable {
  grid-area: mainTable;
  position: relative;
}

.mainList {
  grid-area: mainList;
  background-color: #1e2128;
  position: relative;
}

.graph {
  grid-area: graph;
  position: relative;
  padding-top: 10px;
  background-color: #1e2128;
}

.footer {
  grid-area: footer;
}

@media(max-width: 1500px) {
  .app {
    grid-template-columns: 2fr 7fr 2fr;
  }
}

@media(max-width: 1500px) {
  .app {
    grid-template-columns: 2fr 8fr 1fr;
  }
}

@media(max-width: 1050px) {
  :root {
    --grid-areas: "header search" "mainList map"
      "mainTable graph" "footer footer";
  }

  .app {
    grid-template-columns: 3fr 7fr;
  }
}

@media(max-width: 700px) {
  :root {
    --grid-areas: "header" "search" "mainList" "map"
      "mainTable" "graph" "footer";
  }

  .app {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr 20fr 20fr 10fr 10fr 2fr;
  }
}
