:root{
  --grid-areas:
  "header header header"
  "search search search"
  "mainList map mainTable"
  "mainList map graph"
}

.app {
  display: grid;
  grid-template-areas: var(--grid-areas);
  grid-template-rows: 2fr 2fr 20fr 8fr;
  grid-template-columns: 2fr 6fr 3fr;
  height: 100%;
}

.header {
  grid-area: header;
}

.search {
  grid-area: search;
}

.map {
  grid-area: map;
}

.mainTable {
  grid-area: mainTable;
}

.mainList {
  grid-area: mainList;
}

.graph{
    grid-area: graph;
    position: relative;
    padding-top: 10px;
}
